.modal {
  position: relative;
  flex-direction: column;
  align-items: center;
  grid-gap: clamp(60px, 5.1064vw, 72px);
  z-index: 1;
  width: 91vw;

  @include for-mobile{
    max-width: 478px;
  }

  @include mobile{
    max-width: clamp(420px, 33.9007vw, 478px);
  }

  &__logo{
    background: var(--bg-d);
    border-radius: 8px;
    padding: 6px clamp(10px, .8511vw, 12px);

    img,svg{
        width: clamp(121px, 10.7092vw, 151px);
        height: clamp(38px, 3.4043vw, 48px);
    }
}

  &__box {
    display: flex;
    flex-direction: column;
    grid-gap: 28px;
    width: 100%;
    box-shadow: 0 5px 40px -27px rgba(1, 51, 138, 0.4);
    background-color: var(--bg-a);
    border-radius: 16px;
    padding: 26px clamp(16px, 2.5532vw, 36px) clamp(28px, 3.1206vw, 44px);
    
    @include mobile{
      padding-top: 28px;
    }

    .blue-btn{
      width: 100%;
    }
  }

  &__title{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: clamp(24px, 2.2695vw, 32px);
    line-height: 100%;
    letter-spacing: -0.03em;
    color: var(--cl-d);
    text-align: center;

    @include mobile{
      line-height: 105%;
    }
  }

  &__icon{
    display: flex;
    width: clamp(100px, 9.3617vw, 132px);
    height: clamp(100px, 9.3617vw, 132px);

    img,picture{
      width: 100%;
      height: 100%;
    }
  }

  &__top{
    display: flex;
    flex-direction: column;
    align-items: center;

    @include for-small-tablet{
      grid-gap: 16px;
    }

    @include small-tablet{
      grid-gap: 24px;
    }
  }

  &__link{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--cl-h);
    transition: all .3s;

    &:hover{
      text-decoration-color: transparent;
    }
  }

  &__wrapp{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 12px;

    .modal__link{
      @include mobile{
        margin-top: 14px;
      }
    }
  }

  p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: var(--cl-e);
    text-align: center;
  }

  &-info{
    border-radius: 8px;
    padding: 16px 24px 20px 24px;
    width: 100%;
    height: fit-content;
    background: var(--bg-d);
    display: flex;
    grid-gap: clamp(15px, 1.4184vw, 20px);

    &__icon{
      display: flex;
      width: 32px;
      height: 32px;
      flex-shrink: 0;
      margin-top: 2px;

      img,svg{
        width: 100%;
        height: 100%;
      }

      @include mobile{
        display: none;
      }
    }

    p{
      b{
        color: var(--cl-d);
      }

      @include mobile{
        text-align: center;
      }
    }
  }

  &__list{
    display: flex;
    flex-direction: column;
    grid-gap: 12px;
    width: 100%;
    padding: 16px clamp(20px, 1.6667vw, 24px) clamp(20px, 1.6667vw, 24px);
    border-radius: 5px;
    background: var(--bg-d);

    &::before{
      content: attr(data-title);
      display: inline-flex;
      font-family: var(--font-family);
      font-weight: 600;
      font-size: clamp(14px, 1.1111vw, 16px);
      color: var(--cl-m);
      text-align: center;
      justify-content: center;
      padding-bottom: 11px;
      border-bottom: 1px solid var(--br-c);

      @include for-mobile{
        line-height: 137%;
      }

      @include mobile{
        line-height: 120%;
      }
    }

    & + p{
      @include mobile{
        max-width: 240px;
      }
    }
  }

  &__text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(12px, .9722vw, 14px);
    line-height: 130%;
    letter-spacing: -0.01em;
    color: var(--cl-l);
  }

  &__value{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: clamp(12px, .9722vw, 14px);
    color: var(--cl-m);
    word-break: break-all;
    text-align: right;
  
  
    @include for-mobile{
      line-height: 120%;
    }

    @include mobile{
      line-height: 110%;
      letter-spacing: -0.01em;
      max-width: 48%;
    }
  }

  &__item{
    width: 100%;
    display: flex;
    align-items: center;
    grid-gap: 10px;
    justify-content: space-between;

    @include mobile{
      grid-gap: 40px;
    }
  }


  &.success{
    @include for-tablet{
      max-width: 430px;
    }
  
    @include tablet{
      max-width: clamp(400px, 30.4965vw, 430px);
    }
  }

  &.code{
    @include for-mobile{
      max-width: 468px;
    }

    .close{
      position: relative;
      top: initial;
      right: initial;
    }

    .modal{

      &__box{
        padding-top: 28px;
        grid-gap: 20px;
        align-items: center;
      }

      &__top{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;

        & + p{
          margin-bottom: 3px;
        }
      }

    }

    .connect-card{
      grid-template-columns: 100%;
      max-width: 314px;
      width: 100%;
      grid-gap: 10px;

      &::before{
        content: none;
      }

      &__label{
        margin-bottom: 10px;
      }

      &__input{
        text-align: center;
      }

      .main-btn{
        width: 100%;
      }
    }
  }

  .blue-btn.close{
    position: static;
    color: var(--cl-a);
    background-color: var(--bg-c);

    @include for-mobile{
      min-width: 231px;
      width: fit-content;
      align-self: center;
    }

    &:hover{
      background: var(--bg-e);
      color: var(--cl-h);
    }
  }
 
  .main-btn.close{
    position: static;
    color: var(--cl-h);
    background-color: var(--bg-e);

    @include for-mobile{
      min-width: 231px;
      width: fit-content;
      align-self: center;
    }

    &:hover{
      color: var(--cl-a);
    background-color: var(--bg-c);
    }
  }

  &.withdraw{

    @include for-mobile{
      max-width: 711px;
    }

    .close{
      position: relative;
      top: initial;
      right: initial;

      grid-column: 2;
      grid-row: 1/3;
      align-self: start;
    }

    .main-btn.close{
     grid-column: initial;
     grid-row: initial;
    }

    .modal{
      &__top{
        width: 100%;
      
        grid-gap: clamp(13px, 1.0417vw, 15px);
        display: grid;
        grid-template-columns: 1fr auto;
      }

      &__box{
        padding-top: 28px;
        grid-gap: clamp(24px, 1.9444vw, 28px)
      }

      &__inner{
        grid-gap: 24px;
      }

      &__title{
         text-align: start;
          font-weight: 500;
          font-size: clamp(20px, 1.6667vw, 24px);

          @include for-mobile{
            letter-spacing: normal;
            line-height: 105%;
            padding-top: 9px;
          }

          @include mobile{
            font-weight: 600;
            line-height: 110%;
            letter-spacing: -0.01em;
          }
      }

      &__balance{
        grid-column: 1;
        grid-gap: 8px;
        display: inline-flex;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: clamp(12px, .9722vw, 14px);
        line-height: 120%;
        color: var(--cl-e);

        b{
          color:  var(--cl-j);
        }

        @include mobile{
          letter-spacing: -0.01em;
        }
      }

      &__label {
        background: var(--bg-d);
        border-radius: 8px;
        padding: 16px clamp(16px, 1.6667vw, 24px) clamp(16px, 1.3889vw, 20px) clamp(16px, 1.6667vw, 24px);
        width: 100%;
        height: fit-content;
        display: flex;
        grid-gap: clamp(12px, 1.3889vw, 20px);


        p{
          text-align: start;
        }

        &-icon {
          border-radius: 4px;
          width: 32px;
          height: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: var(--bg-q);
          flex-shrink: 0;
          margin-top: 2px;
      
          svg,
          img {
            width: 20px;
            height: 20px;
          }
        }
        
        @include for-mobile{
          margin-top: 4px;
        }

        @include mobile{
          margin-bottom: 4px;
        }
      }
    }

    .balance-form{
      max-width: 100%;
      border-radius: 0;
      border: none;
      padding: 0;


      .main-form{
        &__label{
          .main-form__wrapp{
            @include for-mobile{
              justify-content: space-between;
              flex-direction: row;
            }
          }

          & + .main-form__wrapp{
            margin-top: 8px;
            flex-direction: column;
            grid-gap: 10px;
            justify-content: start;
            align-items: flex-start;
            width: 100%;
          

            p{
              font-size: 12px;
              color: var(--cl-l);
              text-align: start;
            }
          }
        }

        &__balance{
          background: var(--bg-d);
          border-radius: 6px;
          padding: 16px 20px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          grid-gap: 15px;

          .main-form{

            &__subtitle{
              font-family: var(--font-family);
              font-weight: 600;
              font-size: clamp(14px, 1.1111vw, 16px);
              line-height: 137%;
              color: var(--cl-j);
            }
          }

        }

        &__inner{
          display: grid;

          @include for-mobile{
            grid-template-columns: repeat(2, 1fr);
          }

          .main-btn, .blue-btn{
            @include for-mobile{
              min-width: 231px;
              width: fit-content;
            }
          }

          .blue-btn{
            @include for-mobile{
              justify-self: end;
            }

            @include mobile{
              order: -1;
            }
          }
        }
      }

      &.invalid{
        .main-form__label{
          .main-form__wrapp{
            display: none;
          }
        }
      }
    }
  }

  &.wallet{

    @include for-mobile{
      max-width: 711px;
    }

    .close{
      position: relative;
      top: initial;
      right: initial;

      grid-column: 2;
      grid-row: 1/3;
      align-self: start;
    }

    .modal{
      &__top{
        width: 100%;
      
        grid-gap: clamp(13px, 1.0417vw, 15px);
        display: grid;
        grid-template-columns: 1fr auto;

        & + .balance-form{
          @include for-tablet{
            margin-top: calc(clamp(4px, .5556vw, 8px) * -1);
          }
        }
      }

      &__box{
        padding-top: 28px;
        grid-gap: clamp(24px, 1.9444vw, 28px)
      }

      &__inner{
        grid-gap: 24px;
      }

      &__title{
         text-align: start;
          font-weight: 500;
          font-size: clamp(20px, 1.6667vw, 24px);

          @include for-mobile{
            letter-spacing: normal;
            line-height: 105%;
            padding-top: 9px;
          }

          @include mobile{
            font-weight: 600;
            line-height: 110%;
            letter-spacing: -0.01em;
          }
      }

      &__label {
        background: var(--bg-d);
        border-radius: 8px;
        padding: 16px clamp(16px, 1.6667vw, 24px) clamp(16px, 1.3889vw, 20px) clamp(16px, 1.6667vw, 24px);
        width: 100%;
        height: fit-content;
        display: flex;
        grid-gap: clamp(12px, 1.3889vw, 20px);


        p{
          text-align: start;
        }

        &-icon {
          border-radius: 4px;
          width: 32px;
          height: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: var(--bg-q);
          flex-shrink: 0;
          margin-top: 2px;
      
          svg,
          img {
            width: 20px;
            height: 20px;
          }
        }
        
        @include for-mobile{
          margin-top: 4px;
        }

        @include mobile{
          margin-bottom: 4px;
        }

        &.mode{
          align-items: center;
          .modal__label-icon{
            background: var(--bg-m);
          }
        }
      }
    }

    .balance-form{
      max-width: 100%;
      border-radius: 0;
      border: none;
      padding: 0;


      .main-form{
        &__box{
          display: flex;
          flex-direction: column;
          grid-gap: 16px;
          width: 100%;
          padding: clamp(20px, 2.2222vw, 32px);
          border-radius: 12px;
          border: 1px solid var(--br-c);
        
          @include mobile{
            grid-gap: 20px;
          }
        }

        &__label{
          @include for-small-tablet{
            grid-template-columns: 1fr clamp(300px, 24.4444vw, 352px);
            align-items: center;
          }
        }
        
        &__title{
          font-weight: 400;
          font-size: 16px;
          line-height: 126%;
          color: var(--cl-d);
        }

        &__input{
          padding: 4px 0 4px 16px;
          @include for-small-tablet{
            grid-column: initial;
          }
        }

        &__inner{
          display: grid;

          @include for-mobile{
            grid-template-columns: repeat(2, 1fr);
          }

          @include mobile{
            margin-top: 4px;
          }

          .main-btn, .blue-btn{
            @include for-mobile{
              min-width: 231px;
              width: fit-content;
            }
          }

          .blue-btn{
            @include for-mobile{
              justify-self: end;
            }
            
            @include mobile{
              order: -1;
            }
          }

        }

        
        
      }
     
      .grey-btn{

       @include for-mobile{
        align-self: flex-end;
        margin-top: 12px;
       }

       @include mobile{
        align-self: center;
        margin-top: 4px;
       }
      }

      &.invalid{
        .main-form__label{
          .main-form__wrapp{
            display: none;
          }
        }
      }
    }

    .contact-select{
      padding: 11px 12px 9px 16px;
    }
  }

  .info-label{
    bottom: -6.5px;
    right: 0;
    transform: translate(75%, 100%);

    @include laptop{
      @include for-tablet{
      transform: translate(50%, 100%);
    }
    }

    @include tablet{
      @include for-mobile{
        transform: translate(0%, 100%);
      }
    }

    @include mobile{
      bottom: 55px;
      right: 36px;
      transform: translate(0%, 0%);
      min-width: 303px;
    }
  }

  .main-form--pass{
    margin-top: 12px;
  }

  &[data-popup="pass"]{
    .modal__box{
      box-shadow: 0 5px 40px -27px rgba(1, 51, 138, .3);
    }
  }

  &[data-popup="pass-success"]{
    .modal__box{
      box-shadow: 0 5px 40px -27px rgba(1, 51, 138, .3);
    }

    @include for-tablet{
      max-width: 422px;
    }
  
    @include tablet{
      max-width: clamp(400px, 41.211vw, 422px);
    }
  }

  &.change{

    
      .modal{

        &__icon{
          width: clamp(73px, 7.0922vw, 100px);
          height: clamp(73px, 7.0922vw, 100px);
        }

        &__box{
          box-shadow: 0 5px 40px -27px rgba(1, 51, 138, .3);
          padding: clamp(28px, 2.8369vw, 40px) clamp(16px, 2.5532vw, 36px) clamp(28px, 3.1206vw, 44px);
        }
      }
   
      .main-form{
        gap: clamp(12px, 1.1348vw, 16px);
    
        &__eye {
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 20px;
          width: 20px;
          transition: all 0.3s;
          color: var(--cl-f);
          position: absolute;
          top: 32px;
          right: 16px;
          z-index: 1;
          transition: all 0.3s;
          opacity: 0;
          visibility: hidden;
    
          &::before {
            background-image: url(../img/sprite/eye-closed.svg);
            inset: 1px;
            position: absolute;
            background-color: var(--bg-a);
            background-position: center;
            background-size: 20px 20px;
            background-repeat: no-repeat;
            border-radius: inherit;
            content: "";
            z-index: 3;
            transition: all 0.3s;
            opacity: 0;
            visibility: hidden;
            transition: none;
          
          }
    
          svg,
          img {
            width: 20px;
            height: 20px;
          }
    
          &.active {
            &::before {
              pointer-events: none;
              opacity: 1;
              visibility: visible;
            }
    
            svg,img{
             opacity: 0;
             visibility: hidden;
            }
          }
    
          &.show{
            opacity: 1;
            visibility: visible;
          }
        }

        &__input{
          padding-right: 38px;
          letter-spacing: normal;
          font-family:   var(--font-family);
        }

        .blue-btn{
          margin-top: 4px;

          @include tablet{
            margin-top: 8px;
          }
        }

        &__info{
          display: none;

          p{
            text-align: start;
          }
        }

        &__label{
          gap: 6px;

          &.invalid{
            .main-form__info{
              display: flex;
              width: 100%;
              transform: none;

              @include for-laptop{
                position: relative;
                right: initial;
               top: initial;
                
              }
            }
          }
        }
      }
  }

  &.product{

    @include for-mobile{
      max-width: 734px;
    }

    .close{
      position: relative;
      top: initial;
      right: initial;
      justify-self: end;
    }

    .main-btn.close{
     grid-column: initial;
     grid-row: initial;
     width: 100%;

     @include for-mobile{
      display: none;
     }
    }

    .modal{
      &__top{
        width: 100%;
        align-items: center;
        grid-gap: 8px clamp(13px, 1.0417vw, 15px);

        @include for-mobile{
          display: grid;
          grid-template-columns:  auto auto 1fr;
        }

        @include mobile{
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;
        }
      }

      &__box{
        padding-top: 28px;
        grid-gap: 20px;
      }

      &__inner{
        grid-gap: 24px;
      }

      &__name{
        display: flex;
        align-items: center;
        gap: 6px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -0.01em;
        color: var(--cl-e);
        padding: 8px clamp(8px, 1.563vw, 12px);
        border: 0.50px solid transparent;
        border-radius: 133px;
        background: transparent;
        white-space: nowrap;
        transition: all .3s;
        border-color: var(--br-g);

        &::before{
          content: '';
          width: clamp(10px, 1.563vw, 12px);
          height: clamp(10px, 1.563vw, 12px);
          display: flex;
          border-radius: 50%;
          pointer-events: none;
          background: var(--cl-g);
        }
        
        &:hover{
          color: var(--cl-d);
        }
    
        &.blue{
          &::before{
            background: linear-gradient(166deg, #5164d8 0%, #0824b6 100%);
          }
        }
    
        &.green{
          &::before{
            background: linear-gradient(170deg, #57d3bf 0%, #0fa7ba 100%);
          }
        }
    
        &.violet{
          &::before{
            background: linear-gradient(167deg, #914fea 0%, #3b2ec6 100%);
          }
        }
    
        &.orange{
          &::before{
            background: linear-gradient(169deg, #f0ad78 0%, #dd8464 100%);
          }
        }
    
        @include small-tablet{
          width: 100%;
          justify-content: center;
        }
    
        @include mobile{
          width: fit-content;
        }
      }

      &__title{
         text-align: start;
          font-weight: 500;
          font-size: clamp(20px, 1.6667vw, 24px);

          @include for-mobile{
            letter-spacing: normal;
            line-height: 105%;
          }

          @include mobile{
            font-weight: 600;
            line-height: 110%;
            letter-spacing: -0.01em;
          }
      }

      &__list{
        &::before{
          content: none;
        }
        padding: 0;
        background: transparent;
        border-radius: 0;
        grid-gap: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      }

      &__cards{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        grid-gap: 10px;
      }
    }

    .deposit-form{
      button{
        @include mobile{
          line-height: 105%;
          svg,img{
            display: none;
          }
        }
      }
    }
  }

  &[data-popup="reinvest"]{
    @include for-mobile{
      max-width: 674px;
    }
  }

  &.reinvest{

    @include mobile{
        margin-top: 109px;
        min-height: calc(100dvh - 119px);
    }

    .modal{
      &__top{

        p{
          max-width: 500px;

          b{
            font-weight: 500;
            color: var(--cl-d);
          }
        }
      }
    }

    .main-form{
      gap: 20px;

      &__inputs{
        margin-bottom: clamp(10px, 1.4184vw, 20px);
      }

      & > p{
        max-width: 280px;

        a{
          color: var(--cl-h);
          text-decoration: underline;
          text-underline-offset: 3px;
          text-decoration-color: inherit;
          transition: all .3s;

          &:hover{
            text-decoration-color: transparent;
          }
        }
      }
    }
  }

  &.invest{
    @include for-mobile{
      max-width: 558px;
    }

    .close{
      position: relative;
      top: initial;
      right: initial;
      justify-self: end;
    }

    .main-btn.close{
     grid-column: initial;
     grid-row: initial;
     width: 100%;

     @include for-mobile{
      display: none;
     }
    }

    .modal{
      &__top{
        width: 100%;
        align-items: center;
        grid-gap: 8px clamp(13px, 1.0417vw, 15px);

        @include for-mobile{
          display: grid;
          grid-template-columns:  auto auto 1fr;
        }

        @include mobile{
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;
        }
      }

      &__box{
        padding-top: 28px;
        grid-gap: 10px;
      }

      &__inner{
        grid-gap: 24px;
      }

      &__name{
        display: flex;
        align-items: center;
        gap: 6px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -0.01em;
        color: var(--cl-e);
        padding: 8px clamp(8px, 1.563vw, 12px);
        border: 0.50px solid transparent;
        border-radius: 133px;
        background: transparent;
        white-space: nowrap;
        transition: all .3s;
        border-color: var(--br-g);

        &::before{
          content: '';
          width: clamp(10px, 1.563vw, 12px);
          height: clamp(10px, 1.563vw, 12px);
          display: flex;
          border-radius: 50%;
          pointer-events: none;
          background: var(--cl-g);
        }
        
        &:hover{
          color: var(--cl-d);
        }
    
        &.blue{
          &::before{
            background: linear-gradient(166deg, #5164d8 0%, #0824b6 100%);
          }
        }
    
        &.green{
          &::before{
            background: linear-gradient(170deg, #57d3bf 0%, #0fa7ba 100%);
          }
        }
    
        &.violet{
          &::before{
            background: linear-gradient(167deg, #914fea 0%, #3b2ec6 100%);
          }
        }
    
        &.orange{
          &::before{
            background: linear-gradient(169deg, #f0ad78 0%, #dd8464 100%);
          }
        }
    
        @include small-tablet{
          width: 100%;
          justify-content: center;
        }
    
        @include mobile{
          width: fit-content;
        }
      }

      &__title{
         text-align: start;
          font-weight: 500;
          font-size: clamp(20px, 1.6667vw, 24px);

          @include for-mobile{
            letter-spacing: normal;
            line-height: 105%;
          }

          @include mobile{
            font-weight: 600;
            line-height: 110%;
            letter-spacing: -0.01em;
          }
      }
     
      &__range{
        display: flex;
        flex-direction: column;
        gap: 20px;

        p{
          max-width: 423px;
          text-align: start;
          margin-bottom: 7px;
        }
      }
    }
  }

  &-comission{
      display: flex;
      flex-direction: column;
      gap: 20px;


      &__top{
        display: grid;
        grid-template-columns: minmax(110px, .35px) 1fr;
        grid-gap: 8px;
      }

      &__info{
        display: flex;
        flex-direction: column;
        gap: 5px;
      }

      &__percent{
        font-family: var(--font-family);
        font-weight: 500;
        font-size: clamp(20px, 1.844vw, 26px);
        line-height: 110%;
        letter-spacing: -0.02em;
        color: var(--cl-e);

        b{
          font-weight: inherit;
        }
      }

      &__value{
        font-family: var(--font-family);
        font-weight: 500;
        font-size: clamp(20px, 1.844vw, 26px);
        line-height: 110%;
        letter-spacing: -0.02em;
        color: var(--cl-d);

        b{
          font-weight: inherit;
        }
      }

      &__text{
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 14px;
        line-height: 110%;
        letter-spacing: -0.02em;
        color: var(--cl-e);

        &.mode{
          color: var(--cl-d);
        }
      }

      &__inner{
        display: grid;
        grid-template-columns: minmax(110px, .35px) 1fr;
        grid-gap: 3px;
        padding: 5px;
        border: 1px solid var(--bg-g);
        width: 100%;
        height: 55px;
      }

      &__line{
        display: flex;
        width: 100%;
        height: 100%;
        background: var(--bg-x);
        border-radius: 7px;

        &.mode{
          background: var(--bg-h);
        }
      }

      & > p{
        display: inline-flex;
        gap: 5px;
        align-items: flex-start;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 14px;
        line-height: 126%;
        letter-spacing: -0.01em;
        color: var(--cl-x);
        opacity: 0.9;
        text-align: start;

        svg,img{
          color: var(--cl-x);
          width: 17px;
          height: 17px;
        }

        svg{
          opacity: 0.5;
        }
      }
      
      .blue-btn{
        height: 50px;
      }

      @include for-mobile{
        padding-top: 40px;
      }

      @include mobile{
        padding-top: 24px;
      }
  }

  &.closing{
    @include for-mobile{
      max-width: 585px;
    }

    .close{
      position: relative;
      top: initial;
      right: initial;
      justify-self: end;
    }

    .main-btn.close{
     grid-column: initial;
     grid-row: initial;
     width: 100%;
     margin-top: -5px;

     @include for-mobile{
      display: none;
     }
    }

    .modal{
      &__top{
        width: 100%;
        align-items: center;
        grid-gap: 8px clamp(13px, 1.0417vw, 15px);

        @include for-mobile{
          display: grid;
          grid-template-columns: 1fr auto;
        }

        @include mobile{
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;
        }
      }

      &__text{
        display: inline-flex;
        align-items: center;
        grid-gap: 7px;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 14px;
        line-height: 110%;
        letter-spacing: -0.02em;
        color: var(--cl-h);

        &:after {
          width: 7px;
          height: 7px;
          content: "";
          display: block;
          background: var(--bg-c);
          order: -1;
          margin-bottom: 1px;
        }
      }

      &__value{
        font-family: var(--font-family);
        font-weight: 500;
        font-size: clamp(20px, 1.844vw, 26px);
        line-height: 110%;
        letter-spacing: -0.02em;
        color: var(--cl-d);

        b{
          font-weight: inherit;
        }
      }

      &__wrapp{
        gap: 5px;
        align-items: flex-start;
      }

      &__box{
        padding-top: 30px;
        grid-gap: 20px;
      }

      &__inner{
        grid-gap: 24px;
      }

      &__title{
         text-align: start;
          font-weight: 500;
          font-size: clamp(20px, 1.6667vw, 24px);
          max-width: 380px;

          @include for-mobile{
            letter-spacing: normal;
            line-height: 105%;
          }

          @include mobile{
            font-weight: 600;
            line-height: 110%;
            letter-spacing: -0.01em;
          }
      }
     
      
    }
  }

  &.early{

    @include for-mobile{
      max-width: 960px;
    }

    .close{
      position: relative;
      top: initial;
      right: initial;
      justify-self: end;
    }

    .main-btn.close{
     grid-column: initial;
     grid-row: initial;
     width: 100%;

     @include for-mobile{
      display: none;
     }
    }

    .modal{
      &__top{
        width: 100%;
        align-items: center;
        grid-gap: 8px clamp(13px, 1.0417vw, 15px);

        @include for-mobile{
          display: grid;
          grid-template-columns:  auto auto 1fr;
        }

        @include mobile{
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;
        }
      }

      &__box{
        padding-top: 30px;
        grid-gap: 24px;
        padding-bottom: 30px;

        overflow: hidden;
      }

      &__inner{
        grid-gap: 24px;

        overflow: hidden;
      }

      &__name{
        display: flex;
        align-items: center;
        gap: 6px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -0.01em;
        color: var(--cl-e);
        padding: 8px clamp(8px, 1.563vw, 12px);
        border: 0.50px solid transparent;
        border-radius: 133px;
        background: transparent;
        white-space: nowrap;
        transition: all .3s;
        border-color: var(--br-g);

        &::before{
          content: '';
          width: clamp(10px, 1.563vw, 12px);
          height: clamp(10px, 1.563vw, 12px);
          display: flex;
          border-radius: 50%;
          pointer-events: none;
          background: var(--cl-g);
        }
        
        &:hover{
          color: var(--cl-d);
        }
    
        &.blue{
          &::before{
            background: linear-gradient(166deg, #5164d8 0%, #0824b6 100%);
          }
        }
    
        &.green{
          &::before{
            background: linear-gradient(170deg, #57d3bf 0%, #0fa7ba 100%);
          }
        }
    
        &.violet{
          &::before{
            background: linear-gradient(167deg, #914fea 0%, #3b2ec6 100%);
          }
        }
    
        &.orange{
          &::before{
            background: linear-gradient(169deg, #f0ad78 0%, #dd8464 100%);
          }
        }
    
        @include small-tablet{
          width: 100%;
          justify-content: center;
        }
    
        @include mobile{
          width: fit-content;
        }
      }

      &__title{
         text-align: start;
          font-weight: 500;
          font-size: clamp(20px, 1.6667vw, 24px);

          @include for-mobile{
            letter-spacing: normal;
            line-height: 105%;
          }

          @include mobile{
            font-weight: 600;
            line-height: 110%;
            letter-spacing: -0.01em;
          }
      }

      &__text{
        font-size: 14px;
      }

      &__days{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: clamp(32px, 3.9007vw, 55px);
        line-height: 105%;
        letter-spacing: -0.05em;
        color: var(--cl-d);

        b{
          font-weight: inherit;
        }
      }

      &__warn{
        border-radius: 8px;
        padding: 20px 20px 20px 15px;
        width: fit-content;
        height: fit-content;
        background: var(--bg-d);
        display: flex;
        align-items: center;
        gap: 14px;

        p{
          max-width: 169px;
          line-height: 115%;
          color: var(--cl-q);
          text-align: start;

          @include mobile{
            max-width: 100%;

            br{
              display: none;
            }
          }
        }

        &-icon{
          flex-shrink: 0;
          width: 32px;
          height: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: var(--bg-q);
          border-radius: 4px;

          svg,img{
            width: 20px;
            height: 20px;
          }
        }
      }

      &__wrapp{
        display: grid;
        grid-template-columns: 1fr auto;
        grid-gap: 3px 15px;
        margin-bottom: 4px;

        .modal__days{
          grid-column: 1;
          grid-row: 2/3;
        }

        .transparent-btn{
          grid-row: 1/3;
          align-self: end;
          font-weight: 600;
          font-size: 16px;
          line-height: 137%;
          border-radius: 8px;
          gap: 8px;
          padding: clamp(10px, 1.1348vw, 16px) clamp(16px, 1.5603vw, 22px);
          height: clamp(50px, 3.9716vw, 56px);

          svg,img{
            @include for-mobile{
              width: 24px;
            }
         
            @include mobile{
              width: 20px;
            }
          }

          &:not(:hover){
            color: var(--cl-k);
            border-color: var(--cl-k);
          }

          @include mobile{
            height: 40px;
            font-size: 14px;
            margin-top: 10px;
            grid-row: initial;
            grid-column: 1/-1;
          }
        }

        .modal__warn{
          grid-row: 1/3;
          align-self: end;

          @include mobile{
            padding-top: 12px;
            padding-bottom: 12px;
            width: 100%;
            margin-top: 10px;
            grid-row: initial;
            grid-column: 1/-1;
          }
        }
      }
      
      &__info{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 3px 15px;

        p{
          font-weight: 500;
          line-height: 126%;
          opacity: 0.9;
          text-align: start;
        }
      }

      &__descr{
        color: var(--cl-d);
        text-align: start;

        b,i{
          font-style: normal;
          font-weight: inherit;
          color: var(--cl-h);
        }
      }
    }

  }
}



.settings-modal{
  grid-gap: clamp(60px, 5.1064vw, 72px);
  z-index: 1;


  @include for-mobile{
    max-width: 582px;
    width: 91vw;
  }

  @include mobile{
    width: 100%;
    max-width: 100%;
    margin-top: 169px;
    margin-bottom: -10px;
    min-height: calc(100dvh - 179px);
  }

  .modal{

    &__box{
      grid-gap: 36px;
      box-shadow: 0 5px 40px -27px rgba(1, 51, 138, 0.1);
      background-color: var(--bg-a);
      border-radius: 12px;
      padding: clamp(84px, 6.3889vw, 92px) 32px 36px;
      
      @include mobile{
        border-radius: 12px 12px 0 0;
        padding-bottom: 44px;

        min-height: calc(100dvh - 179px);
        height: 100%;
      }
    }

    &__title{
      font-weight: 600;
      font-size: clamp(18px, 1.3889vw, 20px);
      letter-spacing: -0.01em;

      @include for-mobile{
        line-height: 110%;
      }

      @include mobile{
        line-height: 120%;
      }

      &--mode{
        max-width: 300px;
      }
    }

    &__icon{
      margin-bottom: 12px;
      border-radius: 8px;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--bg-m);

      svg,img{
        width: 39px;
        height: 39px;
      }

      &--mode{
        width: clamp(48px, 4.1667vw, 60px);
        height: clamp(48px, 4.1667vw, 60px);

        svg,img{
          width: clamp(31px, 2.7083vw, 39px);
          height: clamp(31px, 2.7083vw, 39px);
        }
      }
    }

    &__top{
      grid-gap: 12px;

     
        p{
          @include for-mobile{
            max-width: 360px;
          }
        }

        @include mobile{
          p{
            max-width: 280px;
          }
        }

        .modal__title--mode + p{
          max-width: 100%;
        }
    }
  }

  .main-form{
    grid-gap: clamp(24px, 3.8889vw, 56px);
    &__inputs{
      max-width: 246px;
      grid-gap: 6px;
    }

    &__input{
      padding: 4px 6px;
    }

    &__bottom{
      padding-top: 0;
      max-width: 100%;
      grid-gap: 8px clamp(24px, 3.8889vw, 56px);

      @include for-mobile{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }



      .main-btn{
        width: 100%;
      }
    }
  }

  &.invalid{
    .modal__icon{
      background: var(--bg-q);
    }
  }
}

.settings-success{
  grid-gap: clamp(60px, 5.1064vw, 72px);
  z-index: 1;


  @include for-mobile{
    max-width: 408px;
    width: 91vw;
  }

  @include mobile{
    width: 100%;
    max-width: 100%;
    margin-top: 45dvh;
    margin-bottom: -10px;
    min-height: calc(100dvh - 45dvh - 10px);
  }

  .modal{

    &__box{
      grid-gap: 32px;
      border-radius: 12px;
      
      @include for-mobile{
        padding: 80px 32px 36px;
      }

      @include mobile{
        border-radius: 12px 12px 0 0;
        padding-bottom: 44px;
        padding-top: 84px;
        min-height: calc(100dvh - 45dvh - 10px);
        height: 100%;
      }
    }

    &__title{
      font-weight: 600;
      font-size: clamp(18px, 1.3889vw, 20px);
      letter-spacing: -0.01em;

      @include for-mobile{
        line-height: 110%;
      }

      @include mobile{
        line-height: 120%;
      }
    }

    &__icon{
     width: clamp(80px, 6.3889vw, 92px);
      height: clamp(80px, 6.3889vw, 92px);
      
      svg,img{
        width: 100%;
        height: 100%;
      }
    }

    &__top{
     @include small-tablet{
      grid-gap: 16px;
     }
    }
    
  }
  .blue-btn{
    width: fit-content;
    align-self: center;
    min-width: 231px;
  }
}


.modal-safety{
    @include for-mobile{
      max-width: 582px;
    }
  
    .modal{
      &__box{
       
        align-items: center;

        
      }

      &__title{
        @include for-mobile{
          max-width: 350px;
        }

        @include mobile{
          max-width: 320px;
        }
      }
    }
}

.modal-profile{
  @include for-mobile{
    max-width: 532px;
  }

  @include mobile{
    width: 100%;
    height: calc(100% + 20px);
    margin-top: -10px;
    max-width: 100%;
    margin-bottom: -10px;
    overflow: auto;
    background: var(--bg-g);
  }

  .modal{

    &__box{
      @include for-mobile{
        grid-gap: 32px;
        border-radius: 12px;
        padding: clamp(44px, 5.5556vw, 80px) 32px 36px;
      }

      @include mobile{
        border-radius: 0;
        background: transparent;
        box-shadow: initial;
        padding: 24px 16px 20px;
        grid-gap: 16px;
      }
    }

    &__inner{
      @include for-mobile{
        display: contents;
      }

      @include mobile{
        padding: 24px 24px 28px;
        background-color: var(--bg-a);
        display: flex;
        flex-direction: column;
        grid-gap: 32px;
        height: 100%;
      }
    }

    &__close{
      @include mobile{
        display: none;
      }

      
    }

  

    &__title{
      font-weight: 600;
      font-size: clamp(18px, 1.3889vw, 20px);
      line-height: 110%;
      letter-spacing: -0.01em;

      @include mobile{
        line-height: 120%;
      }
    }

    &__wrapp{
      grid-gap: 24px;
    }

    &__icon{
      width: clamp(80px, 6.3889vw, 92px);
       height: clamp(80px, 6.3889vw, 92px);

       @include for-mobile{
        margin-bottom: 4px;
       }

       @include mobile{
        margin-top: 20px;
        margin-bottom: 12px;
       }
       
       svg,img{
         width: 100%;
         height: 100%;
       }
     }
 

    &__top{
      grid-gap: 12px;
    }

    
    &__link {
      line-height: 120%;
      color: var(--cl-g);
      display: flex;
      align-items: center;
      grid-gap: 6px;
      text-decoration: initial;

      svg {
        width: 16px;
        height: 16px;
        transform: scaleX(-1);
      }

      &:hover {
        color: var(--cl-f);
      }

      @include for-mobile {
        display: none;
      }
    }
  }



 
}

