<footer class="footer">
  <div class="container">
    <div class="footer__box">
      <div class="footer__inner">
        <div class="footer__logo">
          <a href="/" aria-label="logo">
            <img width="137" height="33" src="./img/logo.png" alt="image">
          </a>
          <p>Ведущая компания по переработке пластикового мусора</p>
        </div>

        <nav class="footer__nav">
          <ul>
            <li>
              <a href="#">Главная</a>
            </li>
            <li>
              <a href="#">О нас</a>
            </li>
            <li>
              <a href="#">Покупателям</a>
            </li>
            <li>
              <a href="#">Поставщикам</a>
            </li>
            <li>
              <a href="#">О переработке</a>
            </li>
            <li>
              <a href="#">Новости</a>
            </li>
            <li>
              <a href="#">Контакты</a>
            </li>
          </ul>
        </nav>

        <ul class="socials">
          <li class="socials__item">
            <a class="socials__link" href="#">
              <span class="socials__icon">
                <svg width='8' height='18'>
                  <use href='img/sprite/sprite.svg#fb'></use>
                </svg>
              </span>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="#">
              <span class="socials__icon">
                <svg width='22' height='22'>
                  <use href='img/sprite/sprite.svg#inst'></use>
                </svg>
              </span>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer__bottom">
        <p>Copyright © 2024 AzEcol. Все права защищены.</p>

        <a href="#" aria-label="Privacy Policy">Политика конфиденциальности</a>
      </div>
    </div>
  </div>
</footer>