<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="Description" content="Plexico">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Plexico</title>

  <link rel="preload" href="fonts/cygre-semibold.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Inter-ExtraBold.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Inter-Regular.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Onest-Light.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Onest-Medium.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Onest-Regular.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Onest-SemiBold.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Paprika-Regular.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/SF-Pro-Display-Regular.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/SF-Pro-Display-Semibold.woff" as="font" crossorigin="anonymous">

  <link rel="stylesheet" href="css/style.css">
</head>
