<div class="overlay fixed-block" data-overlay>
  <div class="modal" data-popup="send">
    <a href="#" class="modal__logo">
      <svg width='151' height='48'>
        <use href='img/sprite/sprite.svg#logo'></use>
      </svg>
    </a>

    <div class="modal__box">
      <div class="modal__top">
        <div class="modal__icon">
          <svg width='132' height='132'>
            <use href='img/sprite/sprite.svg#mail'></use>
          </svg>
        </div>

        <span class="modal__title">Подтвердите Email</span>
      </div>

      <div class="modal__wrapp">
        <p>Подтвердите ваш Email чтобы завершить регистрацию</p>

        <div class="modal-info">
          <span class="modal-info__icon">
            <svg width='32' height='32'>
              <use href='img/sprite/sprite.svg#check'></use>
            </svg>
          </span>
          <p>Письмо с ссылкой для подтверждения было отправлено на адрес <b>zvonkovich@mail.com.</b></p>
        </div>

        <a href="#" class="modal__link">Изменить email</a>
      </div>
    </div>
  </div>

  <div class="modal success" data-popup="success">
    <a href="#" class="modal__logo">
      <svg width='151' height='48'>
        <use href='img/sprite/sprite.svg#logo'></use>
      </svg>
    </a>

    <div class="modal__box">
      <div class="modal__top">
        <div class="modal__icon">
          <svg width='132' height='132'>
            <use href='img/sprite/sprite.svg#check2'></use>
          </svg>
        </div>

        <span class="modal__title">Ваш Email подтвержден</span>
      </div>

      <p>Подтвердите ваш Email чтобы завершить регистрацию</p>

      <button class="blue-btn">Войти в аккаунт</button>
    </div>
  </div>


</div>