.main-form {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  width: 100%;
  grid-gap: 12px clamp(12px, 1.1348vw, 16px);

  &__label {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 4px;

    .main-form {
      &__link {
        justify-self: end;
      }

      &__input {
        grid-column: 1/-1;
      }
    }

    &.invalid {
      .main-form__error {
        display: block;
      }

      .main-form__input {
        border-color: var(--br-d);
      }
    }

    .info-label {
      position: absolute;
      right: -1px;
      bottom: 4px;
      transform: translateX(100%);
      width: Min(28.9583vw, 417px);

      @media (max-width: (1700px)) {
        @media (min-width: (1540px)) {
          width: 390px;
        }
      }

      @include laptop {
        @include for-tablet {
          right: initial;
          left: 0;
          width: 100%;
          bottom: -4px;
          transform: translate(0, 100%);
        }
      }

      @include small-tablet {
        right: initial;
        left: initial;
        width: 100%;
        bottom: initial;
        transform: none;
        position: relative;
        grid-column: 1/-1;
      }
    }
  }

  &__name {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: var(--cl-j);
  }

  &__link {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--cl-d);
    transition: all 0.3s;
    text-underline-offset: 3px;

    &:hover {
      text-decoration-color: transparent;
      color: var(--cl-h);
    }

    &.blue {
      font-weight: 600;
      line-height: 120%;
      color: var(--cl-h);
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(24px, 2.2695vw, 32px);
    width: 100%;
    padding-top: calc(clamp(24px, 2.2695vw, 32px) - 12px);

    .blue-btn {
      width: 100%;
    }
  }

  &__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: var(--cl-e);

    a {
      font-size: inherit;
      color: inherit;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      transition: all 0.3s;

      &:hover {
        color: var(--cl-h);
        text-decoration-color: transparent;
      }
    }
  }

  &__terms {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include for-mobile {
      grid-gap: 16px;
    }

    @include mobile {
      grid-gap: 28px;
    }

    p {
      font-size: 12px;
      text-align: center;
      color: var(--cl-l);
    }
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 16px;
  }

  &__inputs {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: clamp(6px, 0.7801vw, 11px);
    max-width: 337px;
    position: relative;

    .main-form__input {
      border-radius: 6px;
      height: 50px;
      font-weight: 600;
      font-size: 18px;
      text-align: center;
    }

    .main-form__error {
      text-align: center;
    }

    & + .main-form__bottom {
      max-width: 337px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    grid-gap: 9px;
    padding: clamp(12px, 1.1111vw, 16px) clamp(12px, 1.1111vw, 16px) 16px 12px;
    box-shadow: 0 5px 16px 0 rgba(1, 0, 73, 0.08);
    background: var(--bg-a);
    border-radius: 8px;

    @media (min-width: (1350px)) {
      transform: translate(100%, -28%);
      width: clamp(250px, 22.625vw, 369px);
    }

    @media (max-width: (1350px)) {
      @include for-laptop {
        width: 250px;
        transform: translate(100%, -15%);
      }
    }

    @include for-laptop {
      position: absolute;
      right: -16px;
      bottom: 0;
      z-index: 5;
    }

    @include laptop {
      margin-top: 6px;
    }

    svg,
    img {
      flex-shrink: 0;
      display: flex;
      width: 20px;
      aspect-ratio: 1;
    }

    p {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 10px;
      line-height: 110%;
      letter-spacing: -0.01em;
      color: var(--cl-e);
    }

    ul:not([class]) {
      display: flex;
      flex-direction: column;
      counter-reset: li;
      grid-gap: 0;
      margin-left: 8px;

      li {
        display: flex;
        flex-direction: column;
        grid-gap: 8px;
        counter-increment: li;
        position: relative;
        z-index: 1;
        padding-left: 10px;

        &::before {
          content: "";
          position: absolute;
          top: 5.5px;
          left: 0;
          display: block;
          width: 3px;
          height: 3px;
          border-radius: 50%;
          background: var(--cl-e);
          z-index: 1;
        }
      }
    }

    &-icon {
      width: 20px;
      height: 20px;
      display: flex;
      flex-shrink: 0;
      svg,
      img {
        width: 100%;
        height: 100%;
      }
    }

    &--mode {
      align-items: flex-start;

      @media (min-width: (1350px)) {
        width: clamp(250px, 22.625vw, 352px);
        transform: translate(100%, 0%);
      }

      @media (max-width: (1350px)) {
        @include for-laptop {
          width: 250px;
          transform: translate(100%, 0%);
        }
      }

      @include for-laptop {
        position: absolute;
        right: -16px;
        bottom: initial;
        top: 20px;
        z-index: 5;
      }
    }
  }

  &__error {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 110%;
    letter-spacing: -0.01em;
    color: var(--cl-k);
    grid-column: 1/-1;
    margin-top: calc(clamp(8px, 0.9929vw, 14px) - clamp(6px, 0.7801vw, 11px));
    display: none;
  }

  &__input {
    display: flex;
    width: 100%;
    min-height: 44px;
    height: fit-content;
    border-radius: 10px;
    padding: 4px 16px;
    border: solid 1px var(--br-c);
    transition: all 0.3s;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: var(--cl-f);

    &::placeholder {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 126%;
      color: var(--cl-g);
    }

    &:focus {
      border-color: var(--br-b);
    }
  }

  input[type="password"] {
    letter-spacing: 3px;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 20px;
    line-height: 10px;
    letter-spacing: 0.11em;
    height: 44px;
    transition: none;

    &::placeholder {
      letter-spacing: 3px;
      font-family: var(--font-family);
      font-weight: 300;
      font-size: 20px;
      letter-spacing: 0.11em;
    }

    &:not(:placeholder-shown) {
      padding-top: 4px;
    }
  }

  &.invalid {
    .main-form__error {
      display: block;
    }

    .main-form__input {
      border-color: var(--br-d);
    }
  }

  &.mode {
    @include for-mobile {
      grid-template-columns: repeat(2, 1fr);
    }

    .main-form {
      &__bottom {
        @include for-mobile {
          grid-column: 1/-1;
        }
      }
    }
  }

  .iti {
    grid-column: 1/-1;
    align-items: center;
    display: flex;
    grid-gap: 8px;

    &__arrow {
      position: absolute;
      left: calc(clamp(84px, 7.0922vw, 100px) - 10px);
      top: 50%;
      transform: translate(0%, -50%);
      margin: 0;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cpath fill='%236C6E79' fill-rule='evenodd' d='M5.8332 6.667H4.1665v1.6667h1.6667V6.667Zm8.3334 0h1.6667v1.6667H14.167v1.6662h-1.6666V8.3332h1.6662V6.667Zm-8.333 1.6662h1.6667V10H5.8336V8.3332ZM7.5 10.0004h1.6666v1.6666H7.5v-1.6666Zm5 1.6666h-1.6662v1.6663H9.167v-1.6667h1.6663v-1.6662h1.6666v1.6666Z' clip-rule='evenodd'/%3E%3C/svg%3E");
      border: none;
      background-repeat: no-repeat;
      background-position: center;
      width: 20px;
      height: 20px;
      z-index: 12;
      transition: all 0.3s;

      &--up {
        transform: translate(0, -50%) scaleY(-1);
      }
    }

    &.just-validate-error-field {
      .iti__flag-container,
      input[type="tel"] {
        border-color: red;
      }
    }

    &__flag {
      border-radius: 2px;
    }

    &__flag-container {
      position: static;
      width: clamp(116px, 9.3617vw, 132px);
      border-radius: 6px;
      padding: 12px;
      height: 44px;
      border: solid 1px var(--br-c);
      flex-shrink: 0;
    }

    &__dropdown-content {
      margin-top: 0;
      min-width: clamp(116px, 9.3617vw, 132px);
      max-width: clamp(116px, 9.3617vw, 132px);
      z-index: 10;
      left: 0;
      margin-left: initial;
      border-radius: 0 0 6px 6px;
      border: none;
      
      // overflow: hidden;
      top: 100%;

      &::before {
        position: absolute;
        content: "";
        height: calc(100% + 45px);
        border-radius: inherit;
        background: var(--bg-a);
        z-index: -1;
        bottom: 0;
        left: 0;
        width: 100%;
        border-radius: 6px;
        box-shadow: 0 5px 16px 0 rgba(1, 0, 73, 0.08);
        // opacity: 0;
        pointer-events: none;
      }
    }

    &__selected-flag {
      transition: all 0.3s;
      background-color: transparent !important;
      border: none !important;
      position: relative;
      padding: 0;
      z-index: 12;
      display: flex;
    }

    [code] {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 126%;
      color: var(--cl-m);
      left: 43px;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      pointer-events: none;
      z-index: 10;
    }

    input[type="tel"] {
      order: 3;
      border-radius: 10px;
      padding: 4px 16px;
    }



    &__country-list {
      padding-top: 6px;
      .iti__country-name {
        display: none;
      }

      &::-webkit-scrollbar {
        width: 4px;
        border-radius: 6px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 6px;
      }

      &::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.12);
        border-radius: 0 0 6px 0;
      }

      .iti__country.iti__standard{
        padding: 10px 12px 10px 13px;

        .iti__flag-box{
          margin-right: 10px;
        }
      }
    }

    &__dial-code {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 126%;
      color: var(--cl-e);
    }

    &__country {
      &.iti__highlight {
        background-color: var(--bg-e);

        position: relative;
        z-index: 1;

        &::before {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 16px;
          width: 6px;
          height: 6px;
          background: var(--bg-c);
          display: block;
          z-index: 1;
          content: "";
        }

        .iti__dial-code {
          color: var(--cl-h);
        }
      }
    }
  }

  &__pretitle {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: clamp(14px, 1.1111vw, 16px);
    line-height: 137%;
    color: var(--cl-j);

    @include mobile {
      line-height: 120%;
    }
  }

  &__value {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: clamp(16px, 1.3889vw, 20px);
    letter-spacing: -0.01em;
    text-align: right;
    color: var(--cl-n);

    b {
      color: var(--cl-d);
    }

    i {
      font-style: normal;
    }

    @include for-mobile {
      line-height: 110%;
    }

    @include mobile {
      line-height: 137%;
    }
  }

  &__inner {
    display: grid;
    width: 100%;

    @include for-laptop {
      grid-gap: 32px 16px;
      grid-template-columns: repeat(2, 1fr);
    }

    @include laptop {
      grid-template-columns: 100%;
      grid-gap: 16px;
    }

    .main-form__total {
      grid-column: 1/-1;

      @include laptop {
        margin-bottom: 16px;
      }
    }

    .main-btn {
      padding: 10px 10px;

      @include for-laptop {
        min-width: 231px;
      }

      @include laptop {
        width: 100%;
      }
    }

    .blue-btn {
      padding: 10px 10px;

      @include for-laptop {
        min-width: 231px;
        justify-self: end;
      }

      @include laptop {
        width: 100%;
      }
    }
  }

  &__wrapp {
    display: flex;
    grid-gap: 4px;

    .main-form__text {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 12px;
      line-height: 130%;
      letter-spacing: -0.01em;
      color: var(--cl-l);

      b {
        font-weight: 500;
        line-height: 110%;
        color: var(--cl-m);
      }
    }

    @include for-laptop {
      align-items: center;
      justify-content: space-between;
    }

    @include laptop {
      flex-direction: column;
    }
  }

  &__total {
    border-radius: 6px;
    padding: 16px clamp(20px, 1.6667vw, 24px);
    background: var(--bg-d);
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 10px;
  }

  &__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    color: var(--cl-m);

    &-info {
      width: 16px;
      height: 16px;
      position: relative;
      top: -1px;

      svg,
      img {
        width: 100%;
        height: 100%;
        transition: all 0.2s;
      }

      &:hover {
        svg,
        img {
          transform: scale(1.15);
        }
      }
    }
  }

  &__field {
    display: flex;
    flex-direction: column;
    grid-gap: 6px;
    position: relative;

    .main-form__icon {
      position: absolute;
      z-index: 2;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      width: 24px;
      height: 24px;
      display: flex;

      svg,
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__row {
    display: grid;
    width: 100%;
    grid-gap: 12px;

    @include for-laptop {
      .main-form__title {
        grid-column: 1/-1;
      }

      grid-template-columns: 206px 1fr;
    }

    @include laptop {
      grid-template-columns: 100%;
    }
  }

  &__image {
    width: clamp(52px, 4.2361vw, 61px);
    height: clamp(52px, 4.2361vw, 61px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: var(--bg-d);

    svg,
    img {
      width: clamp(22px, 1.875vw, 27px);
      height: clamp(18px, 1.4583vw, 21px);
    }
  }

  &__swap {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: clamp(12px, 1.1111vw, 16px);
    align-items: center;

    &-box {
      display: flex;
      padding: 12px clamp(16px, 1.3889vw, 20px);
      border-radius: 6px;
      background: var(--bg-d);
      grid-gap: 12px 4px;
      flex-wrap: wrap;

      @include for-mobile {
        align-items: center;
        justify-content: space-between;
      }

      @include mobile {
        flex-direction: column;
      }
    }

    &-inner {
      display: inline-flex;
      grid-gap: 4px clamp(4px, 0.5556vw, 8px);
      flex-wrap: wrap;

      @include mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .main-form__text {
      font-size: clamp(12px, 0.9722vw, 14px);
    }

    .main-form__value {
      font-size: clamp(12px, 0.9722vw, 14px);
      line-height: 130%;
    }
  }
}

.funds-form {
  grid-gap: 20px;
  .main-form {
    &__label {
      grid-template-columns: 100%;
    }

    &__total {
      @include small-tablet {
        margin-top: 8px;
      }
    }

    &__input {
      font-weight: 400;
      line-height: 126%;
      padding: 4px 36px 4px 16px;
    }
  }

  .select {
    width: 100%;
    padding: 9px 12px 9px 16px;

    &__current:not(.select__current-icon) {
      font-weight: 400;
      font-size: 16px;
      line-height: 126%;
      color: var(--cl-m);

      svg,
      img {
        height: 24px;
        width: 24px;
      }
    }

    &__option {
      font-weight: 400;
      font-size: 16px;
      line-height: 126%;
      color: var(--cl-m);
      padding: 0 16px;

      svg,
      img {
        height: 24px;
        width: 24px;
      }
    }
  }
}

.swap-form {
  grid-gap: 25px;
  padding: clamp(24px, 1.9444vw, 28px) clamp(20px, 2.222vw, 32px)
    clamp(28px, 2.2222vw, 32px);
  border: 1px solid var(--br-c);
  border-radius: 12px;

  .main-form {
    &__label {
      grid-template-columns: 100%;
    }

    &__inner {
      margin-top: 7px;

      .main-btn {
        @include for-laptop {
          min-width: clamp(190px, 16.0417vw, 231px);
        }
      }

      .blue-btn {
        @include for-laptop {
          min-width: clamp(190px, 16.0417vw, 231px);
        }
      }
    }

    &__input {
      font-weight: 400;
      line-height: 126%;
      padding: 4px 36px 4px 16px;
    }
  }

  .select {
    width: 100%;
    padding: 9px 12px 9px 16px;

    &__current:not(.select__current-icon) {
      font-weight: 400;
      font-size: 16px;
      line-height: 126%;
      color: var(--cl-m);

      svg,
      img {
        height: 24px;
        width: 24px;
      }
    }

    &__option {
      font-weight: 400;
      font-size: 16px;
      line-height: 126%;
      color: var(--cl-m);
      padding: 0 16px;

      svg,
      img {
        height: 24px;
        width: 24px;
      }
    }
  }
}

.balance-form {
  grid-gap: 20px;
  padding: clamp(24px, 1.9444vw, 28px) clamp(20px, 2.222vw, 32px)
    clamp(28px, 2.2222vw, 32px);
  border: 1px solid var(--br-c);
  border-radius: 12px;

  @include for-small-tablet {
    max-width: 560px;
  }

  @include small-tablet {
    width: 100%;
  }

  .main-form {
    &__label {
      grid-template-columns: 100%;
      grid-gap: 6px;
    }

    &__wrapp {
      @include for-small-tablet {
        justify-content: flex-end;

        .main-form__text {
          text-align: right;
        }
      }
    }

    &__input {
      font-weight: 400;
      line-height: 126%;
      padding: 4px 36px 4px 16px;

      &--mode {
        padding-right: 0;
      }
    }

    &__inner {
      margin-top: 12px;

      .main-btn {
        @include for-laptop {
          min-width: clamp(190px, 16.0417vw, 231px);
        }
      }

      .blue-btn {
        @include for-laptop {
          min-width: clamp(190px, 16.0417vw, 231px);
        }
      }
    }

    &__pretitle {
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;

      &--mob {
        @include for-mobile {
          display: none;
        }
      }

      &:not(.main-form__pretitle--mob) {
        @include mobile {
          display: none;
        }
      }
    }
  }

  .select {
    width: 100%;
    padding: 9px 12px 9px 16px;

    &__current:not(.select__current-icon) {
      font-weight: 400;
      font-size: 16px;
      line-height: 126%;
      color: var(--cl-m);

      svg,
      img {
        height: 24px;
        width: 24px;
      }
    }

    &__option {
      font-weight: 400;
      font-size: 16px;
      line-height: 126%;
      color: var(--cl-m);
      padding: 0 16px;

      svg,
      img {
        height: 24px;
        width: 24px;
      }
    }
  }
}

.contact-form {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px clamp(20px, 2.2222vw, 32px);

  @include laptop {
    grid-template-columns: 100%;
  }

  .main-form {
    &__label {
      grid-gap: 6px;

      .select {
        grid-column: 1/-1;
      }

      @include laptop {
        &:nth-of-type(1) {
          order: -3;
        }

        &:nth-of-type(3) {
          order: -2;
        }

        &:nth-of-type(5) {
          order: -1;
        }
      }
    }
  }

  .blue-btn {
    margin-top: 12px;

    @include for-laptop {
      padding: 11px 20px;
      justify-self: start;
    }

    @include small-tablet {
      width: 100%;
    }
  }
}

.personal-form {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px clamp(20px, 2.2222vw, 32px);

  @include laptop {
    grid-template-columns: 100%;
  }

  .main-form {
    &__label {
      grid-gap: 6px;
    }

    &__input {
      font-weight: 400;
      line-height: 126%;
      color: var(--cl-j);

      &::placeholder {
        color: var(--cl-t);
      }
    }

    &__btn {
      color: var(--cl-d);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 3px;
      background: var(--bg-g);
      transition: all 0.3s;
      position: absolute;
      bottom: 7px;
      right: 6px;

      svg,
      img {
        width: 17px;
        height: 17px;
      }

      &:hover {
        background: var(--bg-c);
        color: var(--cl-a);
      }
    }

    &__btns {
      grid-column: 1/-1;
      border: 1px solid var(--br-c);
      border-radius: 10px;
      padding: 6px;
      width: 100%;
      height: 44px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: clamp(4px, 0.4861vw, 7px);
    }
  }

  .blue-btn {
    margin-top: 12px;

    @include for-laptop {
      padding: 11px 20px;
      justify-self: start;
    }

    @include small-tablet {
      width: 100%;
    }
  }
}

.support-form {
  padding: clamp(16px, 1.7021vw, 24px);
  background: var(--bg-a);
  display: flex;
  flex-direction: column;
  grid-gap: 20px;

  .main-form {
    &__inputs {
      grid-template-columns: repeat(6, 44px);
      grid-gap: clamp(9px, 1.0417vw, 15px);
      max-width: 100%;

      @include for-desktop {
        justify-content: center;
      }

      @include desktop {
        @media (min-width: 1415px) {
          justify-content: space-between;
        }
      }

      @media (max-width: 1415px) {
        justify-content: center;
      }

      .main-form__input {
        padding: 4px 8px;
        border-color: var(--br-h);
        color: var(--cl-s);

        &.active {
          color: var(--cl-f);
        }
      }
    }

    &__eye {
      border-radius: 6px;
      height: 50px;
      font-weight: 600;
      font-size: 18px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-height: 44px;
      padding: 4px 8px;
      border: solid 1px var(--br-h);
      transition: all 0.3s;
      font-family: var(--font-family);
      line-height: 120%;
      letter-spacing: -0.01em;
      color: var(--cl-f);
      position: relative;
      z-index: 1;
      transition: all 0.3s;

      &::before {
        background-image: url(../img/sprite/eye-closed.svg);
        inset: 1px;
        position: absolute;
        background-color: var(--bg-a);
        background-position: center;
        background-size: 20px 20px;
        background-repeat: no-repeat;
        border-radius: inherit;
        content: "";
        z-index: 3;
        transition: all 0.3s;
        opacity: 1;
        transition: none;
        visibility: visible;
      }

      svg,
      img {
        width: 20px;
        height: 20px;
      }

      &.active {
        &::before {
          pointer-events: none;
          opacity: 0;
          visibility: hidden;
        }
      }

      &:hover {
        border-color: var(--br-b);
      }
    }

    &__title {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 18px;
      line-height: 120%;
      letter-spacing: -0.01em;
      color: var(--cl-d);
      display: inline-flex;
      align-items: center;
      grid-gap: 6px;
    }

    &__bottom {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 8px;
      max-width: 100%;

      @include for-mobile {
        padding-top: 3px;
      }

      @include mobile {
        padding: 0;
        margin-top: -4px;
      }

      .blue-btn,
      .main-btn {
        width: 100%;
        grid-gap: 8px;
        padding: 10px;
      }
    }

    &__info {
      display: flex;
      width: 16px;
      height: 16px;
      cursor: pointer;
      position: relative;
      top: -1px;

      svg,
      img {
        transition: all 0.3s;
        width: 100%;
        height: 100%;
      }

      &:hover {
        svg,
        img {
          transform: scale(1.1);
        }
      }
    }
  }
}

.safety-form {
  border-radius: 8px;
  border: solid 1px var(--br-j);
  position: relative;
  z-index: 1;

  @media (min-width: (1361px)) {
    padding: clamp(24px, 2.2222vw, 32px) clamp(21px, 2.1528vw, 31px) 75px;
  }

  @media (max-width: (1361px)) {
    @include for-laptop {
      height: 100%;
      padding: clamp(24px, 2.2222vw, 32px) clamp(16px, 1.3889vw, 20px) 75px;
    }
  }

  @include laptop {
    padding: clamp(24px, 2.2222vw, 32px) clamp(21px, 2.1528vw, 31px);
  }

  &::before {
    position: absolute;
    content: "";
    inset: 0;
    border-radius: inherit;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: -1;
    background-image: var(--qr-bg);
  }

  .main-form {
    &__inputs {
      grid-gap: 6px;

      @include for-mobile {
        margin-top: calc(clamp(30px, 3.75vw, 54px) - 16px);
      }

      @include mobile {
        margin-top: 14px;
      }
    }

    &__input {
      background: var(--bg-a);
      padding: 4px 5px;

      @include mobile {
        height: 36px;
        min-height: 36px;
        font-size: 16px;
      }
    }

    &__bottom {
      padding: 0;
    }

    &__title {
      color: var(--cl-d);

      @include for-mobile {
        font-size: clamp(14px, 1.1111vw, 16px);
        line-height: 137%;
        text-align: center;
      }

      @include mobile {
        line-height: 120%;
        text-align: center;
      }
    }
  }
  .blue-btn {
    width: 100%;
    font-size: 14px;
    line-height: 120%;

    @include mobile {
      height: 30px;
      padding: 8px 20px;
      font-size: 12px;
      letter-spacing: -0.01em;
    }
  }
}

.change-form {
  .main-form {
    &__inner {
      align-items: end;
      grid-gap: 20px;
      width: 100%;

      .blue-btn {
        @include for-laptop {
          min-width: 240px;
        }

        @include laptop {
          @include for-small-tablet {
            min-width: initial;
          }
        }

        @include small-tablet {
          width: 100%;
        }
      }

      @include for-laptop {
        grid-template-columns: 1fr auto;
      }

      @include laptop {
        @include for-small-tablet {
          grid-template-columns: minmax(250px, 1fr) minmax(
              clamp(150px, 16.6667vw, 240px),
              auto
            );
        }
      }

      @include small-tablet {
        grid-template-columns: 100%;
      }
    }
  }

  &.invalid {
    .main-form__inner {
      align-items: center;
    }
  }
}

.verify-form {
  .pretitle {
    grid-column: 1/-1;
    margin-bottom: 4px;

    @include mobile {
      text-align: center;
    }
  }

  .select {
    grid-column: 1/-1;
    width: 100%;
  }

  .custom-checkbox {
    grid-column: 1/-1;

    &__content {
      color: var(--cl-m);
    }
  }

  .blue-btn {
    margin-top: 8px;

    @include for-tablet {
      min-width: 302px;
    }
  }

  grid-gap: 28px;

  .main-form {
    &__subtitle {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 14px;
      line-height: 120%;
      color: var(--cl-j);
    }

    &__btns {
      display: flex;
      flex-direction: column;
      grid-gap: 16px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      grid-gap: 12px;
      grid-column: 1/-1;
    }

    &__inner {
      grid-gap: 20px clamp(16px, 2.2222vw, 32px);

      @media (max-width: (1350px)) {
        @include for-laptop {
          grid-template-columns: 100%;
        }
      }

      @include laptop {
        @include for-tablet {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      @include for-mobile {
        padding-bottom: 32px;
        border-bottom: 1px solid var(--br-c);
      }

      &--mode {
        border: none;
        padding-bottom: 0;
      }
    }

    &__wrapp {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px clamp(16px, 2.2222vw, 32px);
      width: 100%;
      grid-column: 1/-1;

      padding: clamp(20px, 1.6667vw, 24px) clamp(20px, 1.9444vw, 28px)
        clamp(24px, 1.9444vw, 28px);
      border: 1px solid var(--br-c);
      border-radius: 12px;

      @media (max-width: (1350px)) {
        @include for-laptop {
          grid-template-columns: 100%;
        }
      }

      @include tablet {
        grid-template-columns: 100%;
      }

      .pretitle {
        @include mobile {
          text-align: start;
        }
      }
    }

    &__label {
      grid-gap: 6px;

      &--mode {
        grid-column: 1/-1;
      }
    }

    &__btn {
      color: var(--cl-d);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 3px;
      background: var(--bg-g);
      transition: all 0.3s;
      position: absolute;
      bottom: 7px;
      right: 6px;

      svg,
      img {
        width: 17px;
        height: 17px;
      }

      &:hover {
        background: var(--bg-c);
        color: var(--cl-a);
      }
    }
  }
}
