.auth-section{
    min-height: 100vh;
    overflow: hidden;

    .container{
        min-height: 100vh;

        @include for-tablet{
            padding: 0;
        }
    }

    &__box{
        min-height: 100vh;
        display: grid;

        @include for-tablet{
            grid-template-columns: 1fr .95fr;
        }

        @include tablet{
            grid-template-columns: 100%;
        }
    }

    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        grid-gap: clamp(24px, 2.8369vw, 40px);

       
       

        @include for-tablet{
            padding: 0 var(--container-offset);
            margin-top: 60px;
            align-self: flex-start;
        }

        @include tablet{
            @include for-mobile{
                align-self: center;
                margin-top: calc(var(--auth-top-height) * -1);
            }
        }

        @include for-mobile{
            height: fit-content;
        }

        @media (max-height: (700px)) and (min-width: (1024px)) {
            margin-top: 60px;
            align-self: flex-start;
        }

        @include tablet{
            padding: 0 16px;
        }

        @include mobile{
            justify-content: start;
            padding-top: 32px;
        }

        @media (min-width: (1500px)) {
            align-self: center;
            margin-top: calc(var(--auth-top-height) * -1) !important;
        }

        .main-form{
            @include for-tablet{
                max-width: 428px;
            }

            @include tablet{
                max-width: 600px;
            }
        }
    }

    &__logo{
        background: var(--bg-d);
        border-radius: 8px;
        padding: 6px clamp(10px, .8511vw, 12px);

        img,svg{
            width: clamp(121px, 10.7092vw, 151px);
            height: clamp(38px, 3.4043vw, 48px);
        }
    }
   
    &__inner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-gap: 52px;
        position: relative;
        z-index: 1;

        @include for-tablet{
            padding: 0 var(--container-offset);
        }

        @include tablet{
            display: none;
        }

        &::before{
            position: absolute;
            content: '';
            pointer-events: none;
            z-index: -1;
            height: 100%;
            width: 100vw;
            right: 0;
            top: 0;
            background-color:  var(--bg-c);
        }
    }

    &__image{
        max-width: 562px;
        width: 100%;
        height: auto;

        img,picture{
            width: 100%;
            height: auto;
        }
    }

    &__top{
        display: flex;
        flex-direction: column;
        grid-gap: 28px;
        align-items: center;
        width: 100%;

        @include for-mobile{
            padding-bottom: 32px;
        }

        @include mobile{
            padding-bottom: 12px;
        }

        &.mode{
            @include mobile{
                padding-bottom: calc(100px - clamp(24px, 2.8369vw, 40px));
            }
        }
    }

    &__title{
        font-family: var(--font-family);
        font-weight: 500;
        font-size: clamp(24px, 2.2695vw, 32px);
        line-height: 100%;
        letter-spacing: -0.03em;
        color: var(--cl-d);
        text-align: center;

        @include mobile{
            line-height: 105%;
        }
    }

    &__text{
        display: flex;
        flex-direction: column;
        grid-gap: clamp(4px, .6944vw, 10px);
        align-items: center;

        p{
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            letter-spacing: -0.01em;
            text-align: center;
            color: var(--cl-e);
            max-width: 404px;
        }
    }

    &__wrapp{
        display: flex;
        flex-direction: column;
        grid-gap: 12px;
        align-items: center;

        p{
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 126%;
            text-align: center;
            color: var(--cl-c);
            max-width: 362px;
        }
    }

    &__pretitle{
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: -0.03em;
        color: var(--cl-a);
        text-align: center;
    }

    &--mail{

        .auth-section{
            &__content{
        
                @include for-tablet{
                    margin-top: 123px;
                }
            }

            &__text{
                @include for-tablet{
                    margin-top: 10px;
                }
            }
        }

        .main-form{
            @include for-tablet{
                margin-top: -3px;  
            } 
        }
    }
    
    &--fa{

        .auth-section{
            &__content{
        
                @include for-tablet{
                    margin-top: 123px;
                }
            }

            &__text{
                @include for-tablet{
                    margin-top: 10px;
                }
            }
        }

        .main-form{
            @include for-tablet{
             margin-top: -3px;  
            } 
        }
    }

    &--registration{

        .auth-section{
            &__box{
                @include for-tablet{
                    grid-template-columns: 1fr .865fr;
                }
            }
        }

        .main-form{
            max-width: 404px;

            @include for-tablet{
                grid-gap: 16px clamp(12px, 1.1348vw, 16px);
            }

            &__bottom{
                @include for-tablet{
                    grid-gap: calc(clamp(24px, 2.2695vw, 32px) + 4px);
                }
            }

            &__terms{
                @include for-tablet{
                    margin-top: -6px;
                }
            }
        }
    }
}