.aside-invite{
    box-shadow: 0 17px 21px 0 rgba(198, 214, 255, 0.31);
    background: var(--gr-a);
    border-radius: 31px;
    width: 100%;
    height: 220px;

    display: flex;
    flex-direction: column;
    grid-gap: 9px;
    padding: 30px 26px 29px 27px;

    &__box{
        display: flex;
        flex-direction: column;
        padding-bottom: 3px;
    }

    &__title{
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 16px;
        color: rgba(var(--cl-a),1.0);
    }

    &__icon{
        background: rgba(var(--bg-a),1.0);
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        aspect-ratio: 1;

        svg{
            fill: none;
        }

        svg,img{
            display: flex;
            width: 24px;
            aspect-ratio: 1;
        }
    }

    p{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        line-height: 133%;
        color: rgba(var(--cl-a),1.0);
    }

    &__btn{
        border-radius: 12px;
        width: 100%;
        height: 40px;
        background: rgba(var(--bg-a),1.0);
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        color: rgba(var(--cl-c),1.0);
        transition: all .3s;

        &:disabled {
            opacity: 0.4;
        }

        &:hover{
            box-shadow: 0 17px 21px 1px rgba(198, 214, 255, 0.31);
        }
    }
}