.referral-analysis{
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    width: 100%;

    &__box{
        padding: clamp(16px, 1.7021vw, 24px);
        background: var(--bg-a);
        display: flex;
        flex-direction: column;
        grid-gap: 20px;
    }

    &__top{
        display: flex;
        align-items: center;
        grid-gap: 15px;
        justify-content: space-between;
    }

    &__period{
        display: flex;
        align-items: center;
        grid-gap: clamp(10px, 1.2057vw, 17px);

        @include small-tablet{
            justify-content: space-between;
        }
    }

    &__text{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        line-height: 130%;
        letter-spacing: -0.01em;
        text-align: center;
        color: var(--cl-q);
    }
}