.socials{
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    width: fit-content;

    &::before{
        content: attr(data-title);
        display: inline-block;
        width: 100%;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 126%;
        margin-bottom: 4px;
        color: var(--cl-z);
    }

    &__link{
        color: var(--cl-a);
        background-color: var(--bg-c);
        width: 44px;
        height: 44px;
        transition: all .3s;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg{
            color: var(--cl-a);
        }

        svg,img{
            display: flex;
            width: 20px;
            height: 20px;
        }

        &:hover {
            background-color: var(--bg-w);
          }
    }
}