.verification {
  display: flex;
  flex-direction: column;
  grid-gap: clamp(24px, 1.9444vw, 28px);
  padding-bottom: 2px;

  &__box {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;

    .level-bar {
      @include for-mobile {
        margin-top: 4px;
      }

      @include mobile {
        order: -1;
      }
    }

    @include for-mobile{
        border-radius: 12px;
        background: var(--bg-d);
        padding: clamp(16px, 1.6667vw, 24px);
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 15px;

    .blue-btn {
      height: 30px;
      padding: 5px 17px;
      font-size: 12px;
      line-height: 120%;
      letter-spacing: -0.01em;

      @include laptop {
        align-self: center;
        min-width: 240px;

        @include for-small-tablet {
          width: 60%;
        }
      }

      @include small-tablet {
        width: 100%;
      }
    }

    @include laptop {
      display: contents;
    }
  }

  &__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: var(--cl-d);
    display: inline-flex;
    align-items: center;
    grid-gap: 12px;

    @include laptop {
      order: -2;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 28px;
    height: 28px;
    background: var(--gr-d);

    svg,
    img {
      width: 20px;
      height: 20px;
    }

    &.violet{
        background: var(--gr-c);
    }

    &.orange{
        background: var(--gr-e);
    }
  }

  &__top {
    display: flex;
    align-items: center;

    @include for-small-tablet{
        justify-content: space-between;
        grid-gap: 15px;
    }

    @include small-tablet{
        flex-direction: column;
        @include for-mobile{
            grid-gap: 10px;
        }
    }

    @include mobile{
        grid-gap: 16px;
        padding: 16px;
        background: var(--bg-d);
        border-radius: 12px;
    }
  }

  &__pretitle {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: clamp(14px, 1.1111vw, 16px);
    color: var(--cl-q);

    @include for-mobile {
      line-height: 137%;
    }

    @include mobile {
      line-height: 120%;
    }
  }

  &__level {
    display: flex;
    align-items: center;
    grid-gap: 8px 12px;

    .verification__text{
        padding: 0;
    }

    @include small-tablet{
        flex-direction: column-reverse;
    }

    &--mode{
      justify-content: space-between;
    
      @include small-tablet{
        flex-direction: row;
      }

      .verification__title{
        font-size: clamp(20px, 1.6667vw, 24px);

        @include for-mobile{
          font-weight: 500;
          line-height: 105%;
          letter-spacing: normal;
        }

        @include mobile{
          font-weight: 600;
          line-height: 110%;
          letter-spacing: -0.01em;
        }
      }

      .verification__label{
        font-size: clamp(10px, .8333vw, 12px);
        letter-spacing: -0.01em;
        border-radius: 4px;
        padding: 3px 6px;

        @include mobile{
          line-height: 110%;
        }

        &.orange{
          background: var(--bg-p);
        }
      }
    }
  }

  &__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: var(--cl-l);

    @include small-tablet{
        padding-bottom: 4px;
    }
  }

  &__label {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: clamp(12px, 0.9722vw, 14px);
    line-height: 120%;
    color: var(--cl-a);
    background: var(--gr-f);
    border-radius: 6px;
    padding: 6px 10px;
    width: fit-content;
    height: fit-content;

    @include mobile {
      letter-spacing: -0.01em;
    }

    &.violet{
        background: var(--gr-c);
    }

    &.orange{
        background: var(--gr-e);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    background: var(--bg-a);
    border-radius: 12px;
    padding: clamp(16px, 1.3889vw, 20px) clamp(16px, 1.6667vw, 24px)
      clamp(16px, 1.6667vw, 24px);

      @include mobile{
        background: var(--bg-d);
        border-radius: 12px;
    }
  }

  &__value {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: clamp(12px, 0.9722vw, 14px);
    line-height: 120%;
    color: var(--cl-j);
    text-align: right;

    @include small-tablet{
        padding-bottom: 4px;
    }

    @include mobile {
      letter-spacing: -0.01em;
    }
  }

  &__item {
    display: grid;
    align-items: center;
    column-gap: 5px;
    flex-wrap: wrap;

    @include for-small-tablet{
        grid-template-columns: 1fr auto;
    }

    @include small-tablet{
       grid-gap: 6px;
       grid-template-columns: repeat(2, 1fr);
    }

    @include for-mobile{
        padding-bottom: 6px;
    }

    @include mobile{
        padding-bottom: 12px;
    }

    &:first-of-type {
      padding-top: 10px;
      border-top: solid 1px var(--br-c);
    }

    &:not(:last-of-type) {
      border-bottom: solid 1px var(--br-c);
    }

    p {
      grid-column: 1/-1;
      width: 100%;
      font-family: var(--font-family);
      font-size: clamp(12px, 0.9722vw, 14px);
      line-height: 130%;
      letter-spacing: -0.01em;
      color: var(--cl-l);
    }

    .verification__text {
      font-size: clamp(12px, 0.9722vw, 14px);
      color: var(--cl-f);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;

    @include laptop {
      &:not(.verification__list--mode) {
        order: -1;
      }
    }

    &--mode {
      grid-gap: clamp(16px, 1.6667vw, 24px);

      .verification__item {
        padding: 0;
        grid-template-columns: 100%;
        border: none;
      }
    }
  }

  &__info {
    border-radius: 6px;
    padding: 12px 16px;
    width: 100%;
    min-height: 68px;
    height: fit-content;
    background: var(--bg-c);
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 25px;

    p {
      font-weight: 600;
      font-size: 18px;
      line-height: 120%;
      letter-spacing: -0.01em;
      color: var(--cl-a);
    }

    svg,
    img {
      width: 26px;
      height: 26px;
      flex-shrink: 0;
    }

    @include for-small-tablet {
      margin-bottom: clamp(16px, 1.6667vw, 24px);
    }
  }

  &__link {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 120%;
    color: var(--cl-g);
    transition: all 0.3s;
    display: flex;
    align-items: center;
    grid-gap: 3px;

    svg {
      width: 24px;
      height: 24px;
      transform: scaleX(-1);
    }

    &:hover {
      color: var(--cl-f);
    }

    @include mobile {
      display: none;
    }
  }

  &__subtitle{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 137%;
    color: var(--cl-m);
    display: flex;
    grid-gap: 16px;

    &-icon {
      border-radius: 4px;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--bg-c);
      flex-shrink: 0;
      margin-top: 5px;

      svg,
      img {
        width: 20px;
        height: 20px;
      }

      &.green{
        background: var(--bg-j);
      }
    }
  }

  &__inner{
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
  }

  &__wrapp{
    display: grid;
    grid-gap: clamp(20px, 2.7778vw, 40px);

    @media (min-width: (1920px)) {
      grid-template-columns: 65% 35%;
    }

    @media (max-width: (1920px)) {
      @media (min-width: (1541px)) {
          grid-template-columns: 70% 30%;
      }
    }
    @media (max-width: (1541px)) {
      @include for-small-tablet {
          grid-template-columns: 1fr calc(293px + clamp(20px, 2.2222vw, 32px));
      }
    }
  }







  &__aside {
    display: flex;
    flex-direction: column;
    z-index: 10;
    transition: transform 0.3s ease;
    

    &-box {
      @include for-small-tablet {
        display: contents;
      }

      @include small-tablet {
        display: flex;
        flex-direction: column;
        grid-gap: 24px;
        padding: 24px 24px 28px;
        background: var(--bg-a);
      }
    }

    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: calc(clamp(24px, 2.2222vw, 32px) * -1);
      bottom: calc(clamp(28px, 2.3611vw, 34px) * -1);
      width: 1px;
      border-left: solid 1px var(--br-c);
      pointer-events: none;
    }

    @include for-small-tablet {
      grid-gap: clamp(24px, 2.2222vw, 32px);
      height: 100%;
      position: relative;
      padding-left: clamp(20px, 2.2222vw, 32px);

      .verification__link{
        display: none;
      }
    }

    @include small-tablet {
      grid-gap: 16px;
      transform: translateX(200%);
      width: 100%;
      background: var(--bg-g);
      position: fixed;
      top: var(--header-height);
      right: 0;
      height: calc(100% - var(--header-height));
      padding: 24px 16px 20px;
      overflow: auto;

      .verification__link{
        display: flex;
      }
    }

    ul:not([class]) {
      display: flex;
      flex-direction: column;
      counter-reset: li;
      grid-gap: 16px;
      margin-left: 48px;
  
      li {
        display: flex;
        flex-direction: column;
        grid-gap: 8px;
        counter-increment: li;
        position: relative;
        z-index: 1;
        padding-left: 12px;

        &::before {
          content: '';
          position: absolute;
          top: 8.5px;
          left: 0;
          display: block;
          width: 3px;
          height: 3px;
          border-radius: 50%;
          background: var(--cl-e);
          z-index: 1;
        }
  
        p {
          &:not(:last-of-type) {
            margin-bottom: 12px;
  
            @include mobile {
              margin-bottom: 14px;
            }
          }
        }
      }
  
      p {
        font-family: var(--font-family);
        font-size: 14px;
        line-height: 130%;
        letter-spacing: -0.01em;
        color: var(--cl-e);
      }
    }
    
    &-image{
      display: flex;
      border-radius: 14px;
      overflow: hidden;
      width: 235px;
      height: 218px;
      margin-left: 48px;

      picture,img{
        width: 100%;
        height: 100%;
      }
    }

    &-wrapp{
      display: flex;
      flex-direction: column;
      grid-gap: 12px;
    }

    .verification__close.blue-btn {
      width: 100%;
    }

    &.active {
      @include for-small-tablet {
        transform: translateX(200%);
        width: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
      }

      @include small-tablet {
        transform: translateX(0);
      }
    }
  }
}
